@media(max-width: 991px) {
    header {
        padding: 20px;
    }

    header .logo {
        max-width: 60px;
    }

    header ul {
        display: none;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url(../images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        transition: opacity 250ms;
    }

    .toggle:hover {
        opacity: 0.8;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        background-image: url(../images/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }

    .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFF;
        z-index: 10;
    }

    .navigation.active li a {
        font-size: 1.5em;
        margin-bottom: 40px;
    }

    section {
        padding: 20px 20px 180px;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .textBox {
        max-width: 100%; 
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }

    .imgBox {
        max-width: 100%;
        justify-content: center;
    }

    .imgBox img {
        width: 250px;
    }

    .sci {
        background-color: #017143;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 5px 0;
    }


}

/* CONTINUE...  */